body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: blue;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

.container h1{
    font-size: 20px;
}

.header {
    background: #33a;
    color: white;
    padding: 10px;
    margin: 0;
}

.post {
    margin: 1em;
}